<h1>Rotten Mangoes</h1>

<%= render 'search' %>

<br>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>


<% if @search %>
 <%= render partial: "movie", locals: {movies: @search} %>
<% else %>
  <%= render partial: "movie", locals: {movies: @movie} %>
<%end%>